Source: bloonix-webgui-core
Section: net
Priority: extra
Maintainer: Jonny Schulz <js@bloonix.de>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.3
Homepage: http://www.bloonix.de/

Package: bloonix-webgui-core
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, bloonix-agent, bloonix-dbi (>= 0.13), bloonix-core (>= 0.28), bloonix-fcgi, bloonix-heaven (>= 0.13), libdigest-sha-perl, libjson-perl, libjson-xs-perl, liblog-handler-perl, libmime-lite-perl, libparams-validate-perl, libterm-readkey-perl, openssl
Description: Bloonix WebGUI core packages
 bloonix-webgui-core provides core packages for the Bloonix-WebGUI.
